{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Добро пожаловать на страницу автора</h1>
<p>
  <b>Привет!</b> Меня зовут Артём, я постигаю азы бэкенда на django.<br>
  Мне очень нравится данная специальность, и я очень стараюсь выкладывать себя по полной,<br>
  чтобы развиваться в ней дальше. В обучении мне хорошо помогает Яндекс<b>Практикум</b>.<br>
</p>
<p>
  Для связи со мной вы можете написать мне на почту: coshurin.art@yandex.ru<br>
  Или найти мою страницу ВКонтакте: <a href = 'https://vk.com/artemk1704'>Артём</a>
</p>
<p align="center">
  <img src="{% static 'img/project.png' %}"
       alt=""
       width="341"
       height="400"
       title="Моя <рабочая кружка>:)">
</p>       
{% endblock %}       
